desktopWidth = 760px
marginBorder = 10px
mobildWidth = 100%
opacityValue = 0.85

body {
  background-color: #BDC3C7;
  margin: 0px;
  font-family: arial,sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #3A539B;
}

a:hover {
  background-color: #1E8BC3; 
  color: #fff;
  text-decoration: underline;
}

#container {
  width: desktopWidth;
  position: absolute;
  left: 50%;
  margin-left: - (desktopWidth / 2);
}

#menu-outer, #container
  background-color: #fff;

#menu-outer, #bottom-outer, #random-index {
  opacity: opacityValue;
}

.random-center {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -360px;
  margin-top: -200px;
  width: desktopWidth;
}

#random-index {
  margin: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: #ecf0f1;
}

#random-index a {
  text-transform: uppercase;
  padding: 5px;
}

.title {
  font-size: 28px;
  font-weight: 300px;
  font-color: #34495e;
  text-shadow: 0 2px rgb(127, 140, 141);
  padding-bottom: 5px;
}

.title a {
  color: #34495e;
}

.title a:hover {
  color: #34495e;
  text-decoration: none;
  background-color: transparent;
}

.sub-title {
  font-weight: none;
  padding-bottom: 10px;
}

#random-index ul {
  list-style: none;
  padding: 5px 0px 30px 0px;
}

#random-index ul li {
  display: inline;
  padding-left: 5px;
}

#random-index hr {
  width: 75%;
  color: #7f8c8d;
  margin: 0px auto;
}

.center-field {
  margin: 0 auto;
}

.avatar {
  margin-top: -70px;
  border: 2px solid white;
  border-radius: 60px;
  background-color: #ecf0f1;
  box-shadow: 0 0px 3px 1px rgba(0,0,0,0.3);
}

// menu start
#menu-outer
  margin: 0px;
  padding: 0px;
  position: fixed;
  top: 0;

#menu-inner
  line-height: 50px;
  height: 50px;
  width: desktopWidth - marginBorder * 2;
  text-align: center;
  display: table-cell;
  margin: 0 auto;
  height: 20px;
  padding: 0px marginBorder 0 marginBorder;

#menu-inner .left
  float: left;

#menu-inner .brand
  margin: 0px;
  float: left;
  display: inline-block;
  vertical-align: middle;

#menu-inner #homelink
  line-height: 32px;
  display: inline-block;

#menu-inner .brand a
  top: 0;
  color: #000;

#menu-inner .brand a:hover
  background-color: #fff;
  text-decoration: none;

#menu-inner ul
  line-style: none;
  display: inline-block;
  float: right;
  margin: 0px;

#menu-inner ul li
  display: inline;

#menu-outer #avatar
  border-radius: 50%;
  border: 2px wihte solid;
  box-shadow: 0 0px 3px 1px rgba(0,0,0,0.3);
  vertical-align: middle;
  width: 32px;
  height: 32px;
  
// menu end

// bottom start
#bottom-outer
  color: #888;
  text-align: center;
  padding: marginBorder;
  padding-top: 40px;
  font-size: 12px;
  background-color: #fff;
// bottom end

// content start
#container
  margin-top: 50px;

#content-outer
  padding: marginBorder;


// content end


.tag-cloud-tags
  text-align: center;

.tag-cloud-tags a
  // background-color: #e8e8e8;
  padding: 3px;

.tag-cloud-tags a:hover
  text-decoration: none;
  background-color: #bbb;

.center-title
  text-align: center;