desktopWidth = 720px
mobildWidth = 100%
body {
  background-color: #F2F1EF;
  margin: 0px;
}

#container {
  width: desktopWidth;
  background-color: #fff;
  position: absolute;
  left: 50%;
  margin-left: - (desktopWidth / 2);
}

#menu-outer, #bottom-outer {
  opacity: 0.85;
}

#content-outer {
}