body {
  background-color: #DADFE1;
  margin: 0px;
  padding: 0px;
}

#container {
  width: 720px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  margin-left: -360px;
}

#bottom-outer {
  margin-top: 50px;
  text-align: center;
  color: #6C7A89;
}